<mat-tab-group 
    mat-stretch-tabs="true" 
    mat-align-tabs="start">
    <mat-tab *ngFor="let track of tracks ; let i = index" [attr.data-index]="i" label="Track {{i+1}}">
        <mat-list role="list">
            <mat-list-item  role="listitem" *ngFor="let record of track; let i = index" [attr.data-index]="i"  [ngClass]="{'firstplace': i == 0 , 'personal': record.personal == true}">
                <span class="postion" *ngIf="record.personal !== true">{{i+1}}</span>  
                <span *ngIf="record.personal == true">Marker</span>
                <span class="name">{{record.name}}</span> 
                <span class="time" ng-maxlength="5">{{ record.time | timeConvert}}</span>

            </mat-list-item>
            
          </mat-list>
    </mat-tab>
</mat-tab-group>