
<mat-card class="formCard">
    
    <form class="example-form">
        <mat-form-field floatLabel="auto">
            <mat-label>Name</mat-label>
            <input matInput name="name" formControlName="fromDate">
        </mat-form-field>
        <mat-form-field floatLabel="auto">
            <mat-label>Email</mat-label>
            <input matInput name="email" formControlName="fromDate">
        </mat-form-field>
        <mat-form-field floatLabel="auto">
            <mat-label>Time Trial</mat-label>
            <input matInput name="time" formControlName="fromDate">
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" class="submitButton"> Submit Run</button>
    </form>
</mat-card>



<app-leaderboard></app-leaderboard>

