<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<mat-toolbar color="primary">
  <span class="toolbarTitle mat-headline-4">Drive 4 a Difference</span>
  <button mat-raised-button class="totalAmount" >{{formatAmount(paymentsTotal)}}</button>
</mat-toolbar>
<main class="routercontainer">
  <router-outlet></router-outlet>
</main>

