main{
    margin-top: 2vh ;
}
.toolbarTitle{
    margin-bottom:auto ;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    
}
.totalAmount{
    z-index: 99;
    width:15vw;
}