.formCard{
    width: 85vw;
    margin:auto;
    margin-bottom: 2vh;
    padding: 1vh;
    border-radius:10px;
    box-shadow: 2px 2px 5px;
}
mat-form-field{
    width: 30vw;
    margin-left: 10vw;
    
}
.submitButton{
    width: 100%;
}

.idButton{
    height:fill ;
}
@media only screen and (max-width: 650px) {
    mat-form-field {
        margin-left: 5vw;
        width:70vw;
    }
}