<button mat-stroked-button color="warn" class="slideshowButton" (click)="slideShowStart()">Slide Show</button>
<mat-tab-group 
    mat-stretch-tabs="true" 
    mat-align-tabs="start"
    (selectedTabChange)="onTabChanged($event)"
    [(selectedIndex)]=selected
    >
    <mat-tab *ngFor="let track of trackInfo ; let i = index" [attr.data-index]="i" [label]="track.track_name" >
        <mat-list role="list">
            <mat-list-item class="list-item" role="listitem">
                    
                <span class="postion"></span>  
                <span class="name">Name</span> 
                <span class="finalTime">Final Time</span>
                <span class="fastestLap">Fastest Lap</span>

            </mat-list-item>
            <mat-list-item class="list-item" role="listitem" *ngFor="let record of sessions; let i = index" [attr.data-index]="i"  [ngClass]="{'firstplace': i == 0 , 'personal': record.marker == true}">
                    
                    <span class="postion" *ngIf="record.marker !== true">{{i+1}}</span>  
                    <span *ngIf="record.marker == true">Marker</span>
                    <span class="name">{{record.user.name}}</span> 
                    <span class="finalTime">{{ record.totalTime | timeConvert}}</span>
                    <span class="fastestLap">{{ record.lapTimes[record.fastestTimeIdx] | timeConvert}}</span>

            </mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>