:host{
    display: grid;
}
mat-tab-group{
    width: 90vw;
    height: 85vh;
    margin: auto;
    border-radius:10px;
    box-shadow: 2px 2px 5px;
}

.firstplace{
    background-color: rgb(255, 196, 0);
}
.personal{
    background-color:   #0e85d48e;;
    
}

.list-item{
    border-bottom: 1px solid black;

}
.list-item span{
    font-size: 1.25rem;
}

@media (max-width:1200px) {
    .list-item span{
        font-size: 1rem;
    }
}
@media (max-width:500px) {
    .fastestLap{
        visibility: hidden;
        width: 0px;
    }
}
.position{
    
    font-style: italic !important;
}
.name{
    margin-left: 3vw ;
}
.finalTime{
    float: right;
}
.fastestLap{
    float: right;
    margin-right: 5vh;
}
.slideshowButton{
    width: 90vw;
    margin: auto;
}